{% extends 'basicauth/base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">
    <form method="POST" action="{% url 'edit_profile' %}">
        {% csrf_token %}
        <fieldset>
            <legend>Edit Profile</legend><br>                     
            {{ form.as_p }}
            <a href="{% url 'change_password' %}">Change Password</a><br><br>
            <button type="submit" class="btn btn-outline-info">Update</button>
        </fieldset>
    </form>
</div>

{% endblock %}